<!DOCTYPE HTML>
<html>
	<head>
		<title>의무기록 증명서 검증센터</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">의무기록 증명서 센터</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="index.html">메인페이지</a></li>
				<li><a href="generic.html">증명서 정보등록</a></li>
				<li><a href="check.html">증명서 정보조회</a></li>
				<li><a href="txsearch.html">TX 정보조회</a></li>
				<li><a href="recordsearch.html">의무기록 증명서 조회</a></li>
				<li><a href="elements.html">외부자 검증</a></li>
			</ul>
		</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>
				<h2>AJOU 병원</h2>
				<p>의무기록증명서 검증사이트에 오신걸 환영합니다.</p>
				<ul class="actions">
					<li><a href="elements.html" class="button big special">의무기록증명서 검증으로 바로가기</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="images/79223.jpeg" alt="" /></span>  <!-- pic01.jpg-->
						<div class="content">
							<h2 align="center">아직도 의무기록 종이로 제출하시나요?</h2>
							<p align="center">종이는 분실 우려 및 개인정보 노출 위험이 있습니다.<br>
							이제는 신청하고, 증명서 번호만 제출할 수 있는<br> 의무기록 증명서 센터를 이용하세요!</p>
							<ul class="actions" align="center">
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h2 align="center">증명서가 변조되었을까 걱정되신다구요?</h2>
							<p align="center">의무기록 증명서 센터는 블록체인으로 구성되어있습니다<br>
							보안에 뛰어나고, 종이도 아낄수 있어 환경에도 좋습니다.</p>
							<ul class="actions" align="center">
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>국내 모든 보험사에 증명서 번호만 제출!</h2>
					</header>
						<a href="#" class="image"><img src="images/보험사.jpg" alt="" /></a>
						<ul class="actions">
						<li><a href="/recordsearch.html" class="button big alt">증명서 확인 바로가기</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>빠르고 안전하게 사용 가능한 블록체인 기반 의무기록 증명서 센터!</h2>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">위로 올라가기</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>문의사항</h2>
						<p>의무기록증명서 검증센터와 관련한 불편사항을 전달해주시길 바랍니다.</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="보내기" /></li>
							<li><input type="reset" class="alt" value="취소" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li><a href="http://localhost:8080">개인정보처리방침</a>

						</li>
						<li>&copy; AJOU 병원</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
